.jxta/
.DS_Store
.classpath
.project
.settings/
.gradle/
target/
lib_*/
build/
log
*.log
*.rrd
/bin/
*.class
lib.jar
generatePackage/
!**/archive/**
!**/archives/**
.*.*
META-INF

node_modules
package.json
package-lock.json